<%# Mensagem de sucesso %>
<% if notice %>
  <p style="color: lightgreen;"><%= notice %></p>
<% end %>

<%= render @task %>

<br>

<div>
  <%= link_to "Editar esta tarefa", edit_task_path(@task), class: "button" %>
  <%= link_to "Voltar para a lista", tasks_path, class: "button" %>
  <%= button_to "Apagar esta tarefa", @task, method: :delete, data: { confirm: "Tem certeza?" }, class: "button", form: { style: "display: inline;" } %>
</div>

